<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CMS of PBM</title>
<link
  href="../static/css/pmm.css"
  th:href="'/css/pmm.css'"
  rel="stylesheet" />
<link
  href="../static/css/tabling.css"
  th:href="'/css/tabling.css'"
  rel="stylesheet" />
</head>
<body>
  <div id="container">
    <div th:replace="widgets :: header">(Put header bar here)</div>
    <div
      id="banner"
      class="wrapper">
      <h2>The CMS of PBM</h2>
    </div>
    <div id="content">
      <div class="wrapper">
        <p>There are two interfaces in Spring MVC that conform the core of its templating system:</p>
        <ul>
          <li>
            <code>org.springframework.web.servlet.View</code>
          </li>
          <li>
            <code>org.springframework.web.servlet.ViewResolver</code>
          </li>
        </ul>
        <p>Views model pages in our applications and allow us to modify and predefine their behaviour by defining
          them as beans. Views are in charge of rendering the actual HTML interface, usually by the execution of some
          template engine like Thymeleaf.</p>
        <p>ViewResolvers are the objects in charge of obtaining View objects for a specific operation and locale.
          Typically, controllers ask ViewResolvers to forward to a view with a specific name (a String returned by the
          controller method), and then all the view resolvers in the application execute in ordered chain until one of
          them is able to resolve that view, in which case a View object is returned and control is passed to it for the
          renderization of HTML.</p>
        <blockquote>
          <p>Note that not all pages in our applications have to be defined as Views, but only those which behaviour
            we wish to be non-standard or configured in a specific way (for example, by wiring some special beans to
            it). If a ViewResolver is asked a view that has no corresponding bean –which is the common case–, a new View
            object is created ad hoc and returned.</p>
        </blockquote>
      </div>
    </div>
    <div th:replace="widgets :: footer">(Put footer bar here)</div>
  </div>
</body>
</html>