<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Management</title>
<meta charset="utf-8" />
<link
  href="../static/css/pmm.css"
  th:href="'/css/pmm.css'"
  rel="stylesheet" />
<link
  href="../static/css/searching.css"
  th:href="'/css/searching.css'"
  rel="stylesheet" />
<link
  href="../static/css/tabling.css"
  th:href="'/css/tabling.css'"
  rel="stylesheet" />
<link
  href="../static/css/paging.css"
  th:href="'/css/paging.css'"
  rel="stylesheet" />
</head>
<body>
  <div id="container">
    <div th:replace="widgets :: header">(Put header bar here)</div>
    <div
      id="banner"
      class="wrapper">
      <h2>Books Management</h2>
    </div>
    <div th:replace="widgets :: menubar">(Put menu bar here)</div>
    <div id="content">
      <div class="wrapper">
        <div id="searchbar">
          <form
            action="#"
            method="get"
            th:action="@{/cms/books}"
            th:object="${dto}">
            <fieldset>
              <legend>Search Books</legend>
              <label
                th:for="${#ids.next('id')}"
                th:text="'ID:'">ID:</label>
              <input
                type="text"
                class="text"
                th:field="*{id}" />
              <label
                th:for="${#ids.next('title')}"
                th:text="'Title:'">Title:</label>
              <input
                type="text"
                class="text"
                th:field="*{title}" />
              <label
                th:for="${#ids.next('author')}"
                th:text="'Author:'">Author:</label>
              <input
                type="text"
                class="text"
                th:field="*{authorName}" />
              <label
                th:for="${#ids.next('genre')}"
                th:text="'Genre:'">Genre:</label>
              <input
                type="text"
                class="text"
                th:field="*{genreName}" />
              <input
                type="reset"
                class="button"
                value="Clear" />
              <input
                type="submit"
                class="button"
                value="Search" />
            </fieldset>
          </form>
        </div>
        <div style="min-height: 18em;">
          <table class="tabling fully">
            <thead>
              <tr>
                <th>No</th>
                <th>ID</th>
                <th style="text-align: left;">Title</th>
                <th style="text-align: left;">Author</th>
                <th style="text-align: left;">Genre</th>
                <th style="text-align: left;">Tags</th>
                <th style="text-align: left;">Intro</th>
                <th style="text-align: left;">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="book: ${books}"
                th:class="${bookStat.odd} ? 'odd'">
                <td th:text="${bookStat.count}">1</td>
                <td th:text="${book.id}">1</td>
                <td
                  th:text="${book.title}"
                  style="text-align: left;">Book 1</td>
                <td style="text-align: left;">
                  <a
                    href="author.html"
                    th:text="${book.author.right}"
                    th:if="${book.author ne null}"
                    th:href="@{|/cms/authors/${book.author.left}|}">Author 1</a>
                  <span th:if="${book.author eq null}">(No Author)</span>
                </td>
                <td style="text-align: left;">
                  <a
                    href="genre.html"
                    th:text="${book.genre.right}"
                    th:if="${book.genre ne null}"
                    th:href="@{|/cms/genres/${book.genre.left}|}">Genre 1</a>
                  <span th:if="${book.genre eq null}">(No Genre)</span>
                </td>
                <td style="text-align: left;">
                  <ul
                    class="lilist"
                    th:if="${not #lists.isEmpty(book.tags)}">
                    <li th:remove="all">
                      <a href="tag.html">Tag 1</a>
                    </li>
                    <li
                      th:each="tag: ${book.tags}"
                      style="margin-left: 0.2em;">
                      <a
                        href="tag.html"
                        th:text="${tag.right}"
                        th:href="@{|/cms/tags/${tag.left}|}">Tag 2</a>
                    </li>
                  </ul>
                  <span th:if="${#lists.isEmpty(book.tags)}">(No Tags)</span>
                </td>
                <td
                  th:text="${book.intro} ?: '(None)'"
                  style="text-align: left; max-width: 180px;">Intro of book</td>
                <td style="text-align: left;">
                  <ul class="lilist">
                    <li>
                      <button
                        class="button"
                        th:onclick="|location.href='@{/cms/books/}${book.id}';|">Edit</button>
                    </li>
                    <li style="margin-left: 0.2em;">
                      <button class="button">Delete</button>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr
                class="odd"
                th:remove="all">
                <td>1</td>
                <td>2</td>
                <td style="text-align: left;">Book 2</td>
                <td style="text-align: left;">Author 2</td>
                <td style="text-align: left;">Genre 2</td>
                <td style="text-align: left;">(No Tags)</td>
                <td style="text-align: left; max-width: 180px;">Intro of tag</td>
                <td style="text-align: left;">
                  <ul class="lilist">
                    <li>
                      <a href="book.html">Edit</a>
                    </li>
                    <li>
                      <button class="button">Delete</button>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <th:block th:unless="${books.total}">
            <div style="text-align: center; padding-top: 6em;">(No Content)</div>
          </th:block>
        </div>
        <hr style="margin: 0.4em 0;" />
        <div th:replace="paging :: paging(${books}, ${url})">(Put paging bar here)</div>
      </div>
    </div>
    <div th:replace="widgets :: footer">(Put footer bar here)</div>
  </div>
</body>
</html>
