<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{|cms.${tag}.list.title|}">Page Title</title>
<meta charset="utf-8" />
<link
  href="../static/css/pmm.css"
  th:href="'/css/pmm.css'"
  rel="stylesheet" />
<link
  href="../static/css/searching.css"
  th:href="'/css/searching.css'"
  rel="stylesheet" />
<link
  href="../static/css/tabling.css"
  th:href="'/css/tabling.css'"
  rel="stylesheet" />
<link
  href="../static/css/paging.css"
  th:href="'/css/paging.css'"
  rel="stylesheet" />
<script
  src="../static/js/pmm.js"
  th:src="'/js/pmm.js'"></script>
</head>
<body>
  <div id="container">
    <div th:replace="widgets :: header">(Put header bar here)</div>
    <div
      id="banner"
      class="wrapper">
      <h2 th:text="#{|cms.${tag}.list.banner|}">Banner Name</h2>
    </div>
    <div th:replace="widgets :: menubar(names=${names})">(Put menu bar here)</div>
    <div id="content">
      <div class="wrapper">
        <div id="searchbar">
          <form
            action="#"
            method="get"
            th:object="${dto}"
            th:action="@{${url}}">
            <fieldset>
              <legend th:text="#{|cms.${tag}.list.legend|}">Search Tags</legend>
              <th:block th:each="unit: ${queryUnits}">
                <label
                  th:for="${unit.name}"
                  th:text="#{|cms.${tag}.list.dto.${unit.name}|} + ':'">Field Name</label>
                <input
                  type="text"
                  class="text"
                  th:field="*{__${unit.name}__}" />
              </th:block>
              <input
                type="reset"
                class="button"
                value="Clear" />
              <input
                type="submit"
                class="button"
                value="Search" />
            </fieldset>
          </form>
        </div>
        <div style="min-height: 18em;">
          <table class="tabling fully">
            <thead>
              <tr>
                <th>No</th>
                <th
                  th:each="unit: ${itemUnits}"
                  th:text="#{|cms.${tag}.list.vo.${unit.name}|}">Field Name</th>
                <th style="text-align: left;">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="item: ${items}"
                th:class="${itemStat.odd} ? 'odd'">
                <td th:text="${itemStat.count}">1</td>
                <th:block
                  th:each="unit: ${itemUnits}"
                  th:switch="${unit.type}">
                  <td
                    style="text-align: center; max-width: 8em;"
                    th:text="${item.__${unit.name}__}"
                    th:case="'Integer'">Test</td>
                  <td
                    style="text-align: left; max-width: 8em;"
                    th:case="'MutablePair'">
                    <a
                      href="item.html"
                      th:text="${item.__${unit.name}__.right}">Go To</a>
                  </td>
                  <td
                    style="text-align: left; max-width: 8em;"
                    th:text="${item.__${unit.name}__}"
                    th:case="*">Test</td>
                </th:block>
                <td style="text-align: left;">
                  <ul class="inlist">
                    <li>
                      <button
                        class="button"
                        th:onclick="|location.href='@{|/cms/${tag}/|}${item.id}';|">Edit</button>
                    </li>
                    <li style="margin-left: 0.2em;">
                      <button class="button">Delete</button>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr
                class="odd"
                th:remove="all">
                <td>1</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
          <th:block th:unless="${items.total}">
            <div style="text-align: center; padding-top: 6em;">(No Content)</div>
          </th:block>
        </div>
        <hr style="margin: 0.4em 0;" />
        <div th:replace="paging :: paging(page=${items}, link=${url})">(Put paging bar here)</div>
      </div>
    </div>
    <div th:replace="widgets :: footer">(Put footer bar here)</div>
  </div>
</body>
</html>