<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{|cms.${tag}.item.title|(${item.who})}">Page Title</title>
<link
  href="../static/css/pmm.css"
  th:href="'/css/pmm.css'"
  rel="stylesheet" />
<link
  href="../static/css/tabling.css"
  th:href="'/css/tabling.css'"
  rel="stylesheet" />
</head>
<body>
  <div id="container">
    <div th:replace="widgets :: header">(Put header bar here)</div>
    <div
      id="banner"
      class="wrapper">
      <h2 th:text="#{|cms.${tag}.item.banner|(${item.who})}">Banner Title</h2>
    </div>
    <div id="content">
      <div class="wrapper">
        <div>
          <table
            id="detailing"
            th:object="${item}">
            <tr th:each="unit: ${itemUnits}">
              <th th:text="#{|cms.${tag}.list.vo.${unit.name}|}">Field Name</th>
              <td th:text="*{__${unit.name}__}">Field Value</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div th:replace="widgets :: footer">(Put footer bar here)</div>
  </div>
</body>
</html>