<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div
    id="paging"
    th:fragment="paging(page, link)"
    th:inline="text">
    <div class="left">
      <span>[[#{paging.details(${page.total}, ${page.pages}, ${page.offset})}]]</span>
      <th:block th:if="${page.limits ne null}">
        <span>| Size:</span>
        <select
          class="select"
          title="Change page size"
          th:onchange="|location.href='@{${link}(offset=${page.offset}, limit=)}='+this.value;|">
          <option
            value="1"
            th:each="no: ${page.limits}"
            th:value="${no}"
            th:selected="${no eq page.limit}"
            th:text="${no}">1</option>
        </select>
      </th:block>
    </div>
    <div class="right">
      <ul class="inlist">
        <th:block th:unless="${page.first}">
          <li>
            <a
              href="#"
              title="Go to first page"
              th:href="@{${link}(offset=1, limit=${page.limit})}">&lt;&lt;</a>
          </li>
          <li>
            <a
              href="#"
              title="Go to previous page"
              th:href="@{${link}(offset=${page.offset - 1}, limit=${page.limit})}">&lt;</a>
          </li>
        </th:block>
        <li th:each="offset: ${page.offsets}">
          <a
            href="#"
            th:if="${offset ne page.offset}"
            th:title="|Go to page ${offset}|"
            th:href="@{${link}(offset=${offset}, limit=${page.limit})}">[[${offset}]]</a>
          <span
            class="selected"
            th:if="${offset eq page.offset}">[[${offset}]]</span>
        </li>
        <th:block th:unless="${page.last}">
          <li>
            <a
              href="#"
              title="Go to next page"
              th:href="@{${link}(offset=${page.offset + 1}, limit=${page.limit})}">&gt;</a>
          </li>
          <li>
            <a
              href="#"
              title="Go to last page"
              th:href="@{${link}(offset=${page.pages}, limit=${page.limit})}">&gt;&gt;</a>
          </li>
        </th:block>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>