<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tags Management</title>
<meta charset="utf-8" />
<link
  href="../static/css/pmm.css"
  th:href="'/css/pmm.css'"
  rel="stylesheet" />
<link
  href="../static/css/searching.css"
  th:href="'/css/searching.css'"
  rel="stylesheet" />
<link
  href="../static/css/tabling.css"
  th:href="'/css/tabling.css'"
  rel="stylesheet" />
<link
  href="../static/css/paging.css"
  th:href="'/css/paging.css'"
  rel="stylesheet" />
</head>
<body>
  <div id="container">
    <div th:replace="widgets :: header">(Put header bar here)</div>
    <div
      id="banner"
      class="wrapper">
      <h2>Tags Management</h2>
    </div>
    <div th:replace="widgets :: menubar">(Put menu bar here)</div>
    <div id="content">
      <div class="wrapper">
        <div id="searchbar">
          <form
            action="#"
            method="get"
            th:object="${dto}"
            th:action="@{/cms/tags}">
            <fieldset>
              <legend>Search Tags</legend>
              <label
                th:for="${#ids.next('id')}"
                th:text="'ID:'">ID:</label>
              <input
                type="text"
                class="text"
                th:field="*{id}" />
              <label
                th:for="${#ids.next('name')}"
                th:text="'Name:'">Name:</label>
              <input
                type="text"
                class="text"
                th:field="*{name}" />
              <label
                th:for="${#ids.next('enable')}"
                th:text="'State:'">State:</label>
              <select
                class="select"
                th:field="*{enable}">
                <option value="">------------</option>
                <option th:value="true">Enable</option>
                <option th:value="false">Disable</option>
              </select>
              <input
                type="reset"
                class="button"
                value="Clear" />
              <input
                type="submit"
                class="button"
                value="Search" />
            </fieldset>
          </form>
        </div>
        <div style="min-height: 18em;">
          <table class="tabling fully">
            <thead>
              <tr>
                <th>No</th>
                <th>ID</th>
                <th style="text-align: left;">Name</th>
                <th>Rank</th>
                <th style="text-align: left;">State</th>
                <th>Books</th>
                <th style="text-align: left;">Intro</th>
                <th style="text-align: left;">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="tag: ${tags}"
                th:class="${tagStat.odd} ? 'odd'">
                <td th:text="${tagStat.count}">1</td>
                <td th:text="${tag.id}">1</td>
                <td
                  th:text="${tag.name}"
                  style="text-align: left; max-width: 120px;">Test</td>
                <td th:text="${tag.rank}">1</td>
                <td
                  th:text="${tag.enable} ? 'Enable' : 'Disable'"
                  style="text-align: left;">Disable</td>
                <td>
                  <a
                    href="books.html"
                    th:href="@{/cms/books(tagId=${tag.id})}"
                    th:text="${tag.books}"
                    th:if="${tag.books ne null and tag.books gt 0}">1 </a>
                  <span th:if="${tag.books eq null or tag.books eq 0}">0</span>
                </td>
                <td
                  th:text="${tag.intro} ?: '(None)'"
                  style="text-align: left; max-width: 180px;">Intro of tag</td>
                <td style="text-align: left;">
                  <ul class="lilist">
                    <li>
                      <button
                        class="button"
                        th:onclick="|location.href='@{/cms/tags/}${tag.id}';|">Edit</button>
                    </li>
                    <li style="margin-left: 0.2em;">
                      <button class="button">Enable</button>
                    </li>
                    <li style="margin-left: 0.2em;">
                      <button class="button">Delete</button>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr
                class="odd"
                th:remove="all">
                <td>1</td>
                <td>1</td>
                <td style="text-align: left; max-width: 120px;">Test</td>
                <td>1</td>
                <td style="text-align: left;">Disable</td>
                <td>0</td>
                <td style="text-align: left; max-width: 180px;">Intro of tag</td>
                <td style="text-align: left;">
                  <ul class="lilist">
                    <li>
                      <a href="tag.html">Edit</a>
                    </li>
                    <li>
                      <button class="button">Disable</button>
                    </li>
                    <li>
                      <button class="button">Delete</button>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <th:block th:unless="${tags.total}">
            <div style="text-align: center; padding-top: 6em;">(No Content)</div>
          </th:block>
        </div>
        <hr style="margin: 0.4em 0;" />
        <div th:replace="paging :: paging(page=${tags}, link=${url})">(Put paging bar here)</div>
      </div>
    </div>
    <div th:replace="widgets :: footer">(Put footer bar here)</div>
  </div>
</body>
</html>