<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div
    id="header"
    th:fragment="header">
    <div class="wrapper">
      <div
        class="left"
        th:inline="text">Now: [[${#dates.format(#dates.createNow(), 'yyyy-M-d HH:mm:ss z')}]]</div>
      <div class="right">CMS for PBM | [PW], Exit</div>
      <div class="clear"></div>
    </div>
  </div>

  <div
    id="menubar"
    th:fragment="menubar(names)">
    <div class="wrapper">
      <ul class="menu inlist">
        <li><a
            href="index.html"
            th:href="@{/cms/index.html}">Home</a></li>
        <li th:each="name: ${names}"><a
            href="items.html"
            th:text="#{|cms.${name}.name|}"
            th:href="@{|/cms/${name}.html|}">Items</a></li>
        <li><a
            href="about.html"
            th:href="@{/cms/about.html}">About</a></li>
      </ul>
    </div>
  </div>

  <div
    id="footer"
    th:fragment="footer">
    <div class="wrapper">
      <div class="left">
        <span th:text="#{meta.rights}">(C) 2016 PW</span> |
        <a
          href="about.html"
          th:href="@{/cms/about.html}"
          th:value="#{footer.about}">About</a>
        |
        <a
          href="mailto:phylame@163.com"
          th:href="|mailto:#{meta.email}|"
          th:value="#{footer.contact}">Contact</a>
      </div>
      <div class="right">Mobile</div>
      <div class="clear"></div>
    </div>
  </div>

  <th:block th:fragment="item(tag, name)">
    <select
      class="select"
      style="width: 12em;"
      th:case="'Boolean'"
      th:field="*{__${name}__}">
      <option value="">-----------------</option>
      <option
        value="true"
        th:text="#{|cms.${tag}.list.vo.${name}.true|}">Yes</option>
      <option
        value="false"
        th:text="#{|cms.${tag}.list.vo.${name}.false|}">No</option>
    </select>
    <input
      type="text"
      class="text"
      style="width: 12em;"
      th:case="*"
      th:field="*{__${name}__}" />
  </th:block>

</body>
</html>