@CHARSET "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Consolas", "Microsoft YaHei", Calibri, Arial, Helvitica, Verdana, sans-serif;
}

body {

}

#container {
  width: 87%;
  min-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0.5em 0.5em 0.8em #888888;
  background-color: #FFF;
}

#content {
  margin: 0 auto;
}

.wrapper {
  margin: 0 40px auto;
}

.fully {
  margin: 0 auto;
  width: 100%;
}

#header, #footer {
  color: #FFF;
  padding: 0.2em 0;
  background-color: #00796F;
  font-size: 0.9em;
  vertical-align: middle;
}

#header {
  margin: 0 0 0.7em 0;
  border-radius: 0 0 0.5em 0.5em;
}

#footer {
  margin: 0.7em 0 0 0;
  border-radius: 0.5em 0.5em 0 0;
}

#banner h2 {
  padding: 0.4em 0;
  color: #222;
}

.menu {
  margin: 0.5em 0;
  overflow: hidden;
  background-color: #222;
}

.menu a:link, .menu a:visited {
  display: block;
  padding: 0.5em 0.7em;
  color: #EEE;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover, .menu a:active {
  color: #222;
  background-color: #EEE;
}

/* copyright */
#footer span {
  
}

#footer a:link, #footer a:visited {
  color: #FFF;
  text-decoration: none;
}

#footer a:hover, #footer a:active {
  color: orange;
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.hidden {
  visibility: hidden;
}

.popup {
  position: absolute;
  padding: 0.3em;
  background-color: cyan;
  max-width: 100%;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.nowrap {
  white-space: nowrap;
}

.inlist {
  list-style-type: none;
}

.inlist li {
  float: left;
}

.button, .select, .text {
  margin: 0;
  border: 1px solid #3498db;
  padding: 0.2em 0.4em;
  background-color: transparent;
  font-size: 0.9em;
}

.button:hover, .select:hover, .text:hover {
  border-color: blue;
}

.button:focus, .select:focus, .text:focus {
  border-color: #e74c3c;
  outline-color: #e74c3c;
}

.button {
  cursor: pointer;
  color: #222;
}

.select {
  overflow: hidden;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.text {
  box-shadow: inset 1px 1px 2px #ddd8dc;
}